.greyLink {
    color: #c3c3c3;
    text-decoration: none;

    &:hover {
        color: #bcbcbc;
    }
}

.smallAlertContainer {
    /*max-width: 40vw;*/
    position: fixed;
    bottom: 20px;
    right: 20px
    /*justify-content: left !important;*/
}